@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
  --table-background-color: rgb(255, 255, 255);
  --table-background-color-even: hsl(300, 60%, 97%);
  --table-head-background-color: hsl(320, 55%, 61%);
  --form-background-color: hsl(0, 0%, 97%);
  --form-border-color: hsl(319, 66%, 59%);
  --add-book-btn-border-color: rgb(70, 70, 70);

  --table-border-color: black;
  --table-inner-border-color: hsla(0, 0%, 50%, 0.5);

  --table-head-text-color: white;
  --table-foot-text-color: white;

  --table-button-background-color: rgb(244, 240, 248);
  --table-button-background-color-hover: rgb(230, 219, 241);
  --table-button-border-color: rgb(224, 205, 224);

  --table-foot-background-color: var(--table-head-background-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 4rem;
  margin: 2rem 0 0;
}
/* input styling =============================== */
.modal {
  border-radius: 20px;
  border: 5px solid var(--form-border-color);
  margin: auto;
  background-color: var(--form-background-color);
  gap: 1rem;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-top-wrapper {
  padding: 0, 5rem 1rem 0;
  display: flex;
  justify-content: flex-end;
}
.modal-top-wrapper p {
  font-size: 1.2rem;
}
.close-modal-btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.8rem 0.2rem 0.2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
form {
  width: min(400px, 90vw);
  font-size: 1.2rem;
  display: grid;
  gap: 1rem;
  padding: 0.5rem 1rem 1rem;
}
form label {
  display: flex;
  align-items: center;
}
form span {
  width: 5rem;
}
form input {
  height: 2rem;
  font-size: 1.2rem;
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 5px;
  flex: 1;
}
form input[type='number'] {
  width: 5rem;
  flex: 0;
}
.book-read[type='checkbox'] {
  cursor: pointer;
}
.form-btm-wrapper {
  display: flex;
  gap: 2rem;
}
.book-read {
  width: 1.5rem;
}
form button {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid var(--add-book-btn-border-color);
  border-radius: 5px;
}
form button:hover {
  filter: invert(0.1);
}
/* ^^^^^^input styling========================= */

/* table styling ============================ */
.table-main {
  margin: 2rem auto;
  width: min(1000px, 90vw);
  overflow: auto;
  background-color: var(--table-background-color);
  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.table-main th,
td {
  font-size: 1rem;
  padding: 0rem 1rem;
  height: 3.2rem;
}
/* table head */
.table-main thead tr {
  background-color: var(--table-head-background-color);
  color: var(--table-head-text-color);
  text-align: left;
  font-weight: bold;
}
/* table body */
.table-main tbody tr {
  border-bottom: 1px solid var(--table-inner-border-color);
  background-color: var(--table-background-color);
}
.table-main tbody tr:nth-of-type(even) {
  background-color: var(--table-background-color-even);
}
.table-main tbody tr td:nth-child(5) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-main tbody tr:last-child {
  border-bottom: none;
}
.table-main tbody button {
  cursor: pointer;
  width: 2rem;
  background-color: var(--table-button-background-color);
  border: 1px solid var(--table-button-border-color);
  border-radius: 5px;
}
.table-main tbody button:hover {
  background-color: var(--table-button-background-color-hover);
}
.table-main tbody img {
  width: 100%;
  height: 100%;
}

/* table foot */
.table-main tfoot td {
  height: 3.2rem;
  font-size: 1.5rem;
  background-color: var(--table-foot-background-color);
  color: var(--table-foot-text-color);
}
.table-main tfoot td div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.table-main tfoot td img {
  filter: invert(1);
}

.table-main tfoot td:hover {
  cursor: pointer;
  filter: saturate(0.9) brightness(1.1);
}
.column1 {
  width: 1rem;
}
.column4 {
  width: 5rem;
}
.column5 {
  width: 9rem;
}
.column6 {
  width: 1rem;
}
